.dark [class*="rbgcpColorModelDropdown"],
.dark [class*="rbgcpControlBtnWrapper"],
.dark #rbgcp-gradient-controls-wrap {
  background-color: #37373b !important;
  color: white !important;
}

.dark [class*="rbgcpControlBtn"][class*="rbgcpControlBtnSelected"] {
  color: #568cf5 !important;
}

.dark [class*="rbgcpControlBtn"] {
  color: #CDCEC9 !important;
}

.dark [class*="rbgcpControlBtnSelected"] svg {
  filter: none !important;
}

.dark [class*="rbgcpControlBtnSelected"] {
  background-color: #28282b !important;
}

.dark [class*="rbgcpComparibleLabel"] {
  color: #CDCEC9 !important;
}

.dark #rbgcp-stop-input,
.dark #rbgcp-degree-input,
.dark [class*="rbgcpControlBtnWrapper"] svg {
  filter: invert();
}