/* Slider Thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  background: white;
  cursor: pointer;
  border-radius: 50%;
}