# npm
node_modules/
package-lock.json
bun.lockb
pnpm-lock.yaml
yarn.lock
bun.lock

# Build
extension.zip
build/
dist/
betterseqtaplus-safari/

.million/
.vscode/
**/.DS_Store
.parcel-cache
.env
.env.submit
dependency-graph.svg