@import "./components/ColourPicker.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply cursor-pointer;
}

::-webkit-scrollbar {
  display: none;
}

.tab-width {
  width: var(--tab-width);
}

input {
  &:focus {
    box-shadow: unset !important;
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.no-scrollbar {
  scrollbar-width: none !important;
}

.cm-editor {
  width: 100%;
  min-height: 100px;
  height: inherit;
}

.editorHeight {
  height: calc(100vh - 58px);
}
