/* // This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>. */
/* cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,600");

.outside-container {
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 80px;
  height: 590px;
  z-index: 20;
}

#bksliderinput {
  background-color: #20e060 !important;
  color: #20e060 !important;
  border-radius: 16px !important;
  border: none !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

#bksliderinput::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 16px !important;
  height: 16px !important;
  transform: scale(1.5) !important;
  background: #86f078 !important;
  cursor: pointer !important;
  border-radius: 50% !important;
  border: 1px solid #20e060 !important;
}

.selector-container {
  font-family: Rubik, sans-serif;
  background-color: #131313;
  color: white;
  padding: 4px;
  font-size: 1.5em !important;
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}
.main-page {
  position: relative;
  left: 0px;
  transition: 0.4s;
}
.menu-page {
  transition: 0.4s;
  width: 100%;
  height: 26em;
}
.menu-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 2em !important;
}
.apply-changes {
  margin-top: 10px;
  margin-left: 5px;
  padding: 8px;
  background-color: #4cd964;
  width: 40%;
  font-size: 14px !important;
  justify-self: right;
  cursor: pointer;
  height: fit-content;
  text-align: center;
  text-shadow: 0px 0px 15px rgb(22, 22, 22);
}
.apply-changes h3,
h5 {
  margin: 0;
}
.apply-changes h3 {
  font-size: 10px;
}
.apply-changes h5 {
  font-size: 13px;
}

.logo-container {
  margin-top: 10px;
  width: 100%;
  height: 6em;
  text-align: center;
}
.checkbox-container {
  width: 30%;
  justify-content: end;
  display: flex;
}
.logo-container img {
  width: 70%;
}
.addonitem {
  font-size: 14px !important;
  margin: 0;
  /* margin-left: 5px; */
  font-weight: 700;
}
p {
  margin: 0 0 1ex;
}
.main {
  font-size: 20px !important;
  margin-left: 5px;
  width: 70%;
  font-weight: 700;
}
.menumain {
  width: 100%;
  margin-left: 0;
  font-weight: 700;
  font-size: 20px !important;
}
.menu-item-selection {
  max-height: 17em;
  overflow-y: auto;
  overflow-x: hidden;
}
.subitem {
  font-size: 12px !important;
  font-weight: 300;
}
.bottom-container {
  padding: 10px;
  background-color: #0d0d0d;
  color: rgb(209, 209, 209);
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 13px !important;
  position: relative;
}
.clr-field input:hover {
  cursor: pointer;
}
.text-container {
  width: 70%;
}
.item-container {
  justify-content: space-between;
  width: 96%;
  margin: 0px auto;
  height: 3em;
  margin-top: 5px;
  border-bottom: 1px solid rgb(90, 90, 90);
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}
.aboutcontainer {
  justify-content: space-between;
  width: 96%;
  margin: 0px auto;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}
.aboutlinks {
  display: flex;
  margin: 6px 0 !important;
  padding: 5px 18px !important;
  font-size: 12px;
  background: #3d3d3d !important;
  align-items: center;
  border-radius: 20px !important;
  color: white !important;
  border: none !important;
  text-decoration: none;
}
.aboutlinks svg {
  margin: 0 !important;
  margin-right: 5px !important;
}

.onoffswitch {
  margin: 0 0 1ex;
  position: relative;
  width: 42px;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#github {
  width: 25px;
  height: 25px;
  filter: invert(99%) sepia(0%) saturate(627%) hue-rotate(255deg)
    brightness(122%) contrast(100%);
  cursor: pointer;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 16px;
  padding: 0;
  line-height: 16px;
  border: 0px solid #ffffff;
  border-radius: 24px;
  background-color: #9e9e9e;
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 24px;
  margin: -4px;
  height: 24px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  border-radius: 24px;
  transition: 0.3s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #20e060;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #20e060;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  transition: 0.3s;
  right: 0px;
  background-color: #86f078;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.notification {
  width: 50px;
  height: 20px;
}
.notification::before {
  width: 16px;
  height: 16px;
  font: 10px/16px Helvetica;
  word-spacing: 26px;
}
.notification:checked:before {
  left: 32px;
}
.next-page {
  position: absolute;
  top: 280px;
  left: 270px;
  color: white;
  font-size: 15px;
  font-family: Rubik, sans-serif;
}
.item-container img {
  opacity: 0.6;
}
.clickable {
  cursor: pointer;
}
.back-button {
  width: 30%;
  font-size: 20px !important;
  color: white;
  display: flex;
  align-content: center;
  padding: 12px;
  cursor: pointer;
}
.back-button img {
  transform: scaleX(-1);
  margin: 5px;
  margin-left: 0;
}
.menushortcuts {
  height: 2em;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: 1s;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border: 2px solid transparent;
  transition: 1s;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgb(110, 110, 110);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
  background: rgba(95, 91, 91, 1);
}

::-webkit-scrollbar-corner {
  background: none;
}
:root,
html,
body,
div,
ol {
  scrollbar-width: thin !important;
  scrollbar-color: #5e5e5f #161616 !important;
}

.topmenu {
  display: flex;
  width: 100%;
  margin: 0 auto;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navitem {
  width: 33.34%;
  padding: 15px 0;
  position: relative;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  border-bottom: 2px solid #a5a5a5;
  color: #a5a5a5;
  transition: 0.3s;
}
.activenav {
  border-bottom: 2px solid #ff5f5f;
  color: #ff5f5f;
}
.hiddenmenu {
  display: none;
}
.applychanges {
  color: #fcdfb5;
  border: 2px solid #ffb64c;
  background-color: #131313;
  width: 35%;
  position: absolute;
  padding: 6px;
  cursor: pointer;
  bottom: 4px;
  left: -150px;
  z-index: 2;
  transition: 0.6s;
  border-radius: 5px;
}
.applychanges:hover {
  background-color: #202020;
}
#applychanges {
  margin-top: 0px;
}
.applychanges h5,
h6 {
  margin: 0;
  font-weight: 400;
}
.draggable {
  list-style: none;
  position: relative;
  margin-left: 10px;
  cursor: grab;
}
.draggable:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.draggable::before {
  position: absolute;
  z-index: 20;
  left: -14px;
  top: 10px;
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="30" width="15"><path fill="white" d="M9,3H11V5H9V3M13,3H15V5H13V3M9,7H11V9H9V7M13,7H15V9H13V7M9,11H11V13H9V11M13,11H15V13H13V11M9,15H11V17H9V15M13,15H15V17H13V15M9,19H11V21H9V19M13,19H15V21H13V19Z" /></svg>');
}
.custom-shortcuts-button {
  width: 60%;
  height: 2em;
  background: #1a1a1a;
  color: white;
  font-size: 15px;
  padding: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}
.custom-shortcuts-buttons:hover {
  background: #161616;
  transition: 300ms;
  cursor: pointer;
}
.custom-shortcuts-buttons:active {
  background: #191919;
  transition: 300ms;
}

.customshortcut-submit-valid {
  background: #20de5f !important;
  transition: 300ms;
}

.customshortcut-submit-valid:hover {
  background: #1cc956 !important;
  transition: 300ms;
  cursor: pointer;
}

.customshortcut-submit-valid:active {
  background: #17aa48 !important;
  transition: 300ms;
}

.custom-shortcuts-container {
  width: 93%;
  display: flex;
  flex-direction: column;
  background: #1a1a1a;
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: 250ms;
}
.custom-shortcuts-container-shown {
  padding: 10px;
  margin: 10px 0;
  height: auto;
  transition: 250ms;
}

.custom-shortcuts-label {
  padding: 5px;
  text-align: initial;
  font-size: 15px;
}
.custom-shortcuts-field {
  background: #161616 !important;
  color: #b9b9b9 !important;
  font-size: 16px !important;
  padding: 10px !important;
  border-radius: 10px !important;
  border: 0 !important;
  box-shadow: 0 0 15px 4px rgb(0 0 0 / 6%) !important;
  transition: 100ms;
}
.custom-shortcuts-submit {
  width: 30%;
  font-size: 15px;
  margin-top: 0.5em;
  background: #161616;
  padding: 0.5em;
}

.custom-shortcuts-field:focus {
  outline: none;
  outline: 1px solid rgb(60, 60, 60);
  transition: 100ms;
}
.domain-container {
  font-size: 9px;
  margin-top: 2px;
  color: white;
  margin-left: 10px;
  text-align: initial;
}
.domain-container-button {
  margin-top: 2px;
  font-size: 11px;
  padding: 5px 2px;
  width: 70%;
  border-radius: 10px;
  background: #1cc956;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 0;
}
.domain-container-button:hover {
  background: #1ed25a;
}
.domain-container-button:active {
  background: #19b34d;
}
