.logo-container {
  display: none;
}

.topmenu {
  margin-top: 0;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.outside-container {
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 80px;
  height: 590px;
  z-index: 20;
}

.imageBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}