#menu ul.noscroll > li {
  box-shadow: inset 0px 0 var(--item-colour, transparent) !important;
}

#menu > ul.noscroll > li > label,
#menu > ul.noscroll > li > svg,
#menu > ul.noscroll ul.noscroll > li > label,
#menu > ul.noscroll ul.noscroll > li > svg {
  transform: translateX(-20rem);
}

.sub .sub {
  top: 0 !important;
}

.sub:has(ul.noscroll) > .nav > .back {
  display: none !important;
}

#menu ul > li > label,
#menu ul > li > svg {
  transition: transform 0.3s ease;
}

#menu .sub {
  transition: transform 0.3s ease;
}

#menu ul.noscroll li.active {
  background: transparent !important;
}
/* 
#menu ul.noscroll li .sub label,
#menu ul.noscroll li > svg {
  transform: translateX(0);
}
 */
#menu li.active>.sub {
  transform: translateX(0);
} 