.logo-container {
  display: none; /* Hides the logo container element */
}

.topmenu {
  margin-top: 0; /* Removes any top margin from the top menu */
}

.hide {
  opacity: 0; /* Makes the element fully transparent */
  pointer-events: none; /* Disables mouse interactions with the element */
}

.outside-container {
  margin: 0; /* Removes all margins */
  overflow: hidden; /* Hides content that overflows the container */
  position: absolute; /* Positions the element absolutely within its containing element */
  right: 10px; /* Places the element 10px from the right edge */
  top: 80px; /* Places the element 80px from the top edge */
  height: 590px; /* Sets the height to 590px */
  z-index: 20; /* Places the element above others with a lower z-index */
  transition-duration: 100ms; /* Sets the duration of transitions to 100 milliseconds */
}

.imageBackground {
  width: 100%; /* Sets the width to fill the container */
  height: 100%; /* Sets the height to fill the container */
  object-fit: cover; /* Ensures the image covers the entire container without distortion */
  pointer-events: none; /* Disables mouse interactions with the image */
  border: none !important; /* Removes borders, overriding any other rule */
}

#ExtensionPopup {
  border-radius: 1rem; /* Applies rounded corners with a 1rem radius */
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.6)); /* Adds a drop shadow effect */
  transform-origin: 70% 0; /* Sets the origin for transformations at 70% horizontally and 0% vertically */
  will-change: opacity, transform; /* Optimizes rendering performance for upcoming changes */
  transform: translateZ(0); // promotes GPU rendering /* Promotes the element to its own layer for GPU acceleration */
  transition:
    opacity 0.05s, /* Animates opacity changes over 0.05 seconds */
    transform 0.05s; /* Animates transform changes over 0.05 seconds */
}
