html.transparencyEffects.dark {
  --background-primary: rgba(35, 35, 35, 0.5);
  --background-secondary: rgba(26, 26, 26, 0.5);
}

html.transparencyEffects:not(.dark) {
  --background-primary: rgba(255, 255, 255, 0.5);
  --background-secondary: rgba(229, 231, 235, 0.5);
}


html.transparencyEffects {
  /* Background Fixes */
  .notifications__item___2ErJN,
  #shortcuts {
    backdrop-filter: unset !important;
  }

  .whatsnewTextContainer h1 {
    background-color: transparent !important;
    position: inherit;
  }

  /* Blurs */
  .BasicPanel__BasicPanel___1GP6s,
  .message.addMessage,
  .singleSelect,
  .uiFileHandlerPanel,
  .Module__wrapper___2sbOo,
  .notifications__list___rp2L2,
  .thread,
  .navigator,
  #title,
  .LabelList__selected___3Egk7,
  .buttonChecklist,
  .pane,
  .legacy-root button, .legacy-root a,
  .MessageList__MessageList___3DxoC {
    backdrop-filter: blur(10px);
  }
  
  .report {
    backdrop-filter: blur(10px) !important;
  }

  .whatsnewContainer,
  .Message__Message___3oJaU {
    backdrop-filter: blur(50px);
  }

  #menu {
    backdrop-filter: blur(20px);
  }

  .title > a {
    backdrop-filter: blur(0px) !important;
  }

  .search,
  .document,
  .border {
    backdrop-filter: blur(8px);
  }

  #main > .dashboard {
    section,
    .dashlet {
      backdrop-filter: blur(8px);
    }
  }
}