/* 
 * This file is part of EvenBetterSEQTA.
 *
 * EvenBetterSEQTA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * EvenBetterSEQTA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with EvenBetterSEQTA.  If not, see <https://www.gnu.org/licenses/>.
 */

@use "injected/popup.scss";

html {
  background: #161616 !important;
  background-color: #161616;
  font-family: Rubik, Roboto !important;
}

.tooltip svg {
  fill: var(--theme-primary);
}
.tooltip {
  display: inline-block;
  z-index: 5 !important;
  width: 28px;
  background: none;
  box-shadow: none;
  padding: 2px;
  position: absolute;
}
.tooltip .tooltiptext {
  width: 120px;
  transform: scale(0);
  transition: transform 0.2s;
  transform-origin: top;
  background: var(--background-primary);
  color: var(--text-primary);
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 50%;
  margin-left: -62px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--text-primary) transparent;
}
.tooltiptext p:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3) !important;
  transition: 200ms;
}
.tooltiptext p {
  border-radius: 8px !important;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;
}
.tooltip:hover .tooltiptext {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.2s;
}
body:has(.outside-container:not(.hide))
  #AddedSettings.tooltip:hover
  > .tooltiptext {
  transform: scale(0);
}
.assessmenttooltip svg {
  fill: var(--text-primary);
}
.assessmenttooltip {
  bottom: 0px;
  left: 5px;
}
.topmenutooltip {
  top: 115% !important;
  background: var(--text-primary) !important;
  color: var(--theme-primary) !important;
}
.fixed-tooltip {
  display: inline-block;
  z-index: 5 !important;
  width: 28px;
  background: none;
  box-shadow: none;
  padding: 2px;
  position: absolute;
}
.fixed-tooltip svg {
  fill: var(--theme-primary);
}
.tooltiptext-fixed {
  width: 120px;
  transform: scale(0);
  transition: transform 0.2s;
  transform-origin: top;
  background: var(--background-primary);
  color: var(--text-primary);
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  margin-left: -62px;
}
.tooltiptext-fixed::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--text-primary) transparent;
}
.tooltiptext-fixed.show {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.2s;
}
.tooltiptext-fixed p:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3) !important;
  transition: 200ms;
}
.tooltiptext-fixed p {
  border-radius: 8px !important;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 2px;
}
