/* 
 * This file is part of EvenBetterSEQTA.
 *
 * EvenBetterSEQTA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * EvenBetterSEQTA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with EvenBetterSEQTA.  If not, see <https://www.gnu.org/licenses/>.
 */

body {
  background: transparent;
}

.dark {
  p,
  div,
  span,
  body {
    color: white !important;
    text-shadow:
      1px 1px 2px #161616,
      0 0 1em #161616;
  }

  body {
    background-color: transparent !important;
  }

  blockquote.forward > .preamble {
    color: rgba(255, 255, 255, 0.7) !important;

    > p,
    div,
    span {
      background: transparent !important;
    }

    > .date > .value,
    blockquote.forward > .preamble > .sender > .value {
      color: rgba(255, 255, 255, 0.7) !important;
    }

    > .date > .label,
    blockquote.forward > .preamble > .sender > .label {
      color: rgba(255, 255, 255, 0.7) !important;
    }
  }

  [bgcolor="#ffffff"] > * {
    color: black !important;
    text-shadow: none !important;
  }

  table th {
    background-color: #161616;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: 1s;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10rem !important;
  }

  ::-webkit-scrollbar-corner {
    background: none;
  }

  .forward {
    border-radius: 1rem;
  }

  .preamble {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  blockquote.forward > .preamble {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  blockquote.forward > .preamble > .date > .value,
  blockquote.forward > .preamble > .sender > .value {
    color: rgba(255, 255, 255, 0.7) !important;
  }
  blockquote.forward > .preamble > .date > .label,
  blockquote.forward > .preamble > .sender > .label {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  #backgroundTable > * {
    background-color: #161616;
    border: none;
  }

  .userHTML > div > a:not(.resource) {
    color: #06b4fc;
    text-decoration: underline;
    transition: text-shadow 0.5s;
  }
}

.cke_panel_listItem > a {
  
  &:hover {
    background: #3d3d3e !important;
  }
}