.range-slider{
	margin: 20px;
	appearance: none;
	outline: none;
	width: 150px;
	height: 3px;
	border-radius: 5px;
	background-color: #ccc;
}

.range-slide::-webkit-slider-runnable-track{
	background-color: #4BD663 !important;
}
.range-slider::-webkit-slider-thumb {
  background: #fafafa;
  appearance: none;
  box-shadow: 1px 2px 26px 1px #bdbdbd;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}